.bg-orange {
  background: #f8982c;
}

.c-nav-link {
  margin-right: 28px;
}

.c-nav-button {
  background: #f97d26;
  color: #fff;

  width: 112px;
}

.c-p {
  text-align: left;
  letter-spacing: 2px;
  color: #7c7c7c;

  line-height: 26pt;
}

.separator {
  height: 0.5px;
  width: 100%;

  background: #f8982c2b;
}
